.stsho {
    width: 1224px;
}
.shop-list-splb > ul > li {
    float: left;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #dddddd;
}
.s_xsall{
    padding: 5px;
    float: left;
    width: 320px;
}
.xs_img {
    height: 300px;
    width: 300px;

}
.xs_img img {
    width: 300px;
    height: 300px;
}
.s_xsall_text{
    width: 880px;
    float: left;
    padding: 5px;
    height: 300px;
    position: relative;
}
.s_xsall_text p{
    padding: 10px 5px;
}
.media-heading {
    font-size: 18px;
    padding-top: 10px;
}
.media-bottom {
    position: absolute;
    bottom: 20px;
}
.btn-warning{
    font-size: 14px;
    color: #fff;
    background: #ffa000;
    padding: 8px 25px;
    border-radius: 5px;
    margin-left: 20px;
}
.old em {
    font-size: 12px;
    color: #999999;
    text-decoration: line-through;
}
.brand_tap ul li{
    float: left;
    padding: 8px 15px;
}
.brand_tap ul li a{
    font-size: 16px;
}
.brand_tap .selected{
    color: #ff8a5c;
    border-bottom:1px solid #ff8a5c;
}

.ri-section{
    width: 1100px;
}