.reg_head{
    padding:15px 0px;
}
.m-fntit h3{
    display: inline-block;
    padding-left: 15px;
}
.reg_main{
    background:url(../images/login_bg.jpg) no-repeat;
    float: left;
    height:100%;
    width: 100%;
    background-size:100% 100%;
    padding:40px 40px;
}
.form-control {
    height: 44px;
    padding: 8px 12px;
}
.reg_word{
    font-size: 23px;
    color: #fff;
    font-weight: 500;
    line-height:45px;
    padding-top: 40px;
    letter-spacing: 4px;
}
.reg_form{
    background-color: #fff;
    padding: 30px 65px;
}
.checkbox {
    min-height: 27px;
    padding-bottom: 15px;
}
#verify_code_img{
    width: 120px;
}
.foget_pwt{
    padding-top: 6px;
    text-align: right;
}
.judgp {
    background: url(../images/loginchat.png) no-repeat;
    display: inline-block
}
.btn{
    height: 44px;
    font-size: 16px;
}
.footer{
    padding-top: 5px;
}
.mod_copyright > p {
    color: #fff;
}
.btn-success {
    color: #fff;
    background-color: #ff8a5c;
    border-color: #ff8a5c;
}
.btn-success:hover {
    color: #fff;
    background-color: #ff8a5c;
    border-color: #ff8a5c;
}
.judgp {
    background: url(../images/loginchat.png) no-repeat;
    display: inline-block
}

.sum_reme_for {
    color: #666666;
    padding: 0 21px
}

.sum_reme_for .autplog {
    float: left
}

.sum_reme_for .autplog label,.sum_reme_for .autplog input {
    vertical-align: middle;
    cursor: pointer
}

.sum_reme_for .foget_pwt {
    float: right
}

.sum_reme_for .foget_pwt a {
    cursor: pointer
}

{
    padding: 14px 0;
    overflow: hidden
}

.tecant_c {
    float: left;
    margin-left: 21px
}

.tecant_c ul li {
    float: left
}

.tecant_c ul li .justclix {
    display: block;
    cursor: pointer
}

.tecant_c ul li .justclix i {
    width: 27px;
    height: 27px;
    vertical-align: middle
}

.tecant_c ul li .justclix span {
    vertical-align: middle;
    display: inline-block;
    font-size: 16px
}

.tecant_c ul li .co_qq {
    background-position: -31px 2px
}

.tecant_c ul li .co_wechat {
    background-position: -33px -30px
}

.tecant_c ul li .co_alipay {
    background-position: -66px 2px
}

.tecant_c ul .spacer {
    margin: 9px 25px 0 26px
}

.register_c {
    float: right;
    margin-right: 21px;
    margin-top: 10px
}

.register_c .justclix {
    display: block;
    cursor: pointer
}

.register_c .justclix .co_register {
    width: 27px;
    height: 27px;
    background-position: -30px -60px;
    vertical-align: middle
}

.register_c .justclix span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #bf1919
}
.clearfix{
    clear: both;
}