.reg_head{
    padding:15px 0px;
}
.m-fntit h3{
    display: inline-block;
    padding-left: 15px;
}
.reg_main{
    background:url(../images/login_bg.jpg) no-repeat;
    float: left;
    height:100%;
    background-size:100% 100%;
    padding:40px 40px;
}
.form-control {
    height: 44px;
    padding: 8px 12px;
}
.reg_word{
    font-size: 23px;
    color: #fff;
    font-weight: 500;
    line-height:45px;
    padding-top: 40px;
    letter-spacing: 4px;
}
.reg_form{
    background-color: #fff;
    padding: 30px 65px;
}
.checkbox {
    min-height: 27px;
    padding-bottom: 15px;
}
#verify_code_img{
    width: 120px;
}
.foget_pwt{
    padding-top: 6px;
    text-align: right;
}
.judgp {
    background: url(../images/loginchat.png) no-repeat;
    display: inline-block
}
.btn{
    height: 44px;
    font-size: 16px;
}
.footer{
    padding-top: 5px;
}
.mod_copyright > p {
    color: #fff;
}
.btn-success {
    color: #fff;
    background-color: #ff8a5c;
    border-color: #ff8a5c;
}