.reg_head{
    padding:15px 0px;
}
.m-fntit h3{
    display: inline-block;
    padding-left: 15px;
}
.reg_main{
    background:url(../images/tp-pc-gl-bg.png) right bottom no-repeat;
    height: 600px;
    padding:80px;
}
.form-control {
    height: 44px;
    padding: 8px 12px;
}
.reg_word{
    font-size: 24px;
    color: #fff;
    font-weight: 550;
    line-height:40px;
}
.reg_form{
    background-color: #fff;
    padding: 30px 65px;
}
.checkbox {
    min-height: 27px;
    padding-bottom: 15px;
}
#verify_code_img{
    width: 120px;
}
.foget_pwt{
    padding-top: 6px;
    text-align: right;
}
.judgp {
    background: url(../images/loginchat.png) no-repeat;
    display: inline-block
}
.btn{
    height: 44px;
    font-size: 16px;
}